---
layout: bootstrap
---

<div class="tabbable">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#eboard" data-toggle="tab">eboard</a></li>
    <li><a href="#alumni" data-toggle="tab">alumni</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="eboard">
      {% for member in site.eboard %}
        {% if forloop.index0 == 0 or forloop.index0 == 3 %}
          <div class="row">
        {% endif %}
	<div class="span4">
	  <div class="well">
	    <h2>{{ member.name }}</h2>
	    <h2><small>{{ member.title }}</small></h2>
	    <p>{{ member.bio }}</p>
	    <p><a class="btn" href="{{ member.external }}" target="_blank">More &raquo;</a></p>
	  </div>
	</div>
	{% if forloop.index0 == 2 or forloop.index0 == 5 %}
	  </div><!--/row-->
	{% endif %}
      {% endfor %}
    </div>
    <div class="tab-pane fade in " id="alumni">
      <div class="row">
        <div class="span4">
          <div class="well">
            <h2>Andy Lohmann</h2>
            <h2><small>co-founder</small></h2>
            <h2><small>President, 2010-2012</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h2>Vin St. John</h2>
            <h2><small>co-founder</small></h2>
            <h2><small>Vice President, 2010</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h2>Justin Dilks</h2>
            <h2><small>co-founder</small></h2>
            <h2><small>Treasurer, 2010</small></h2>
            <h2><small>Vice President, 2010-2012</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="well">
            <h2>Tom Briechle</h2>
            <h2><small>charter member</small></h2>
            <h2><small>Secretary, 2010-2012</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h2>Richard Gebbia</h2>
            <h2><small>charter member</small></h2>
            <h2><small>Publicist, 2010-2011</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h2>Emily Calfo</h2>
            <h2><small>charter member</small></h2>
            <h2><small>Publicist, 2010-2011</small></h2>
            <h2><small>Webmaster, 2011-2012</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="well">
            <h2>Gabrielle Fuller</h2>
            <h2><small>charter member</small></h2>
            <h2><small>Webmaster, 2010-2011</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h2>Crystal Kan</h2>
            <h2><small>charter member</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h2>Nate Chmielinski</h2>
            <h2><small>Treasurer, 2011-2012</small></h2>
            <p></p>
            <p></p>
            <p><a class="btn" href="">View more &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
