---
layout: bootstrap

alumni:
- name: Andy Lohmann
  titles: [Co-Founder, President (2010-2012)]
- name: Vin St. John
  titles: [Co-Founder, Vice President (2010)]
- name: Justin Dilks
  titles: [Co-Founder, Treasurer (2010), Vice President (2010-2012)]
- name: Tom Briechle
  titles: [Charter Member, Secretary (2010-2012)]
- name: Richard Gebbia
  titles: [Charter Member, Publicist (2010-2011)]
- name: Emily Calfo
  titles: [Charter Member, Publicist (2010-2011), Webmaster (2011-2012)]
- name: Gabrielle Fuller
  titles: [Charter Member, Webmaster (2010-2011)]
- name: Crystal Kan
  titles: [Charter Member]
- name: Nate Chmielinski
  titles: [Treasurer (2011-2012)]
---

<div class="tabbable">
  <ul class="nav nav-tabs">
    {% for member in site.eboard %}
      {% if forloop.first %} <li class="active">
      {% else %} <li>
      {% endif %}
      <a href="#EBoard_{{ forloop.index0 }}" data-toggle="tab">
	{{ member.title }}
      </a></li>
    {% endfor %}
    <li class="divider-vertical"></li>
    <li><a href="#alumni" data-toggle="tab">Alumni</a></li>
  </ul>
  <div class="tab-content">
    {% for member in site.eboard %}
      {% if forloop.first %} <div class="tab-pane fade in active" id="EBoard_{{ forloop.index0 }}">
      {% else %} <div class="tab-pane fade in" id="EBoard_{{ forloop.index0 }}">
      {% endif %}
        <img class="img-eboard img-polaroid" src="/assets/img/eboard/{{ member.title }}.jpg" height="128" width="128" />
        <div class="well">
        <h2>{{ member.name }}</h2>
	<p>{{ member.bio }}</p>
</div>
	<a class="btn" href="{{ member.external }}" target="_blank">More &raquo</a>
      </div>
    {% endfor %}

    <div class="tab-pane fade in" id="alumni">
      {% for alumn in page.alumni %}
	    <h3>{{ alumn.name }}</h3>
      <p>
	    {% for title in alumn.titles %}
	      {% if forloop.last %}
          {{ title }}
	      {% else %}
	        {{ title }}, 
	      {% endif %}
	    {% endfor %}
      {% endfor %}
    </div><!--/alumni-->
  </div>
</div>
