---
layout: bootstrap


contacts:
- title: Email
  content: mcircle (at) tcnj (dot) edu
- title: Steam Group
  content: tcnjmc
  link: http://steamcommunity.com/groups/tcnjmc
- title: Facebook
  content: TCNJ Magic Circle Game Design
  link: |
    https://www.facebook.com/pages/TCNJ-Magic-Circle-Game-Design/167187826697165
- title: Twitter
  content: |
    @TCNJ_Games
  link: https://twitter.com/tcnj_games

---

<div class="row">
  <div class="span4">
    <div class="well">
      <h3>Contact info</h3>
      <hr />
      <ul>
      {% for contact in page.contacts %}
        <li><strong>{{ contact.title }} - </strong>
	  {% if contact.link %}
	    <a href="{{ contact.link }}" target="_blank">
	  {% endif %}
	  {{ contact.content }}
	  {% if contact.link %} </a> {% endif %}
	</li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="span8">
    <div class="well">
      <h3>Affiliates</h3>
      <hr>
      <p><a href="http://www.tcnj.edu/~imm/" target="_blank" >TCNJ Interactive Multimedia Department</a></p>
      <p><a href="http://cs.tcnj.edu/" target="_blank" >TCNJ Computer Science Department</a></p>
      <p><a href="http://www.tcnj.edu/~acm/" target="_blank" >TCNJ Association for Computing Machinery</a></p>
      <p><a href="http://www.tcnj.edu/~siggraph/" target="_blank" >TCNJ ACM SIGGRAPH</a></p>
      <p><a href="http://tcnjampd.bandcamp.com/" target="_blank" >TCNJ Association for Music Production and Discussion</a></p>
      <p><a href="http://tcnjmanhunt.weebly.com/" target="_blank" >TCNJ Manhunt Club<a href="" ></a></p>
    </div>
  </div>
</div>
