<div class="jumbotron masthead" id="overview">
  <div class="container">
    <h1>Magic Circle @ TCNJ<br /><small>game design / game news / gaming</small></h1>
    <p class="lead">Are you interested in game design?<br/>Do you aspire to work in the games industry?<br/>The Magic Circle is a club for TCNJ's game designers to<br /><b>meet, share ideas, learn, and work on projects with their peers</b>.<br/>Join us Thursday nights at 9:30pm in AIMM 202.</p>
  </div>
</div>
<div class="jumbomast-bar bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
    </ul>
  </div>
</div>
