---
layout: bootstrap

tags:
- Design

resources:
- name: Design Document Template
  link: https://docs.google.com/document/d/1OJ1hY-t-phtkMrKW_yxVk7NqA14wBmnZq7QrAQvFB_0/edit
  tags: [Design]
---

<div class="tabbable">
  <ul id="myTab" class="nav nav-tabs">
    {% for tag in page.tags %}
      {% if forloop.first %} <li class="active"> {% else %} <li> {% endif %}
        <a href="#tag_{{ forloop.index0 }}" data-toggle="tab">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for tag in page.tags %}
      <div class="tab-pane fade in{% if forloop.first %} active{% endif %}" id="tag_{{ forloop.index0 }}">
	<ul>
	  {% for ref in page.resources %}
	    {% if ref.tags contains tag %}
	      <li>
		<a href="{{ ref.link }}" target="_blank">{{ ref.name }}</a>
	      </li>
	    {% endif %}
	  {% endfor %}
	</ul>
      </div>
    {% endfor %}
  </div>
</div>
