/* nope /* http://colorschemedesigner.com/  Hue: 215() */

/* Apparently our colour scheme is 'black, white, red, #E0E0E0' */

body {
    color: #111;
    background-image: url("/assets/img/bg/hexellence.png");
}

body div.navbar.navbar-fixed-top li {
    text-align:center;
}
body div.jumbotron.masthead {
    background: #E0E0E0;/*#04819E;*/
    margin:0px;
}
body div.jumbomast-bar {
    border-bottom: 1px solid #888;
    background: #B01010;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
body div.jumbomast-bar ul.bs-docs-social-buttons {
    margin:0;
    padding:0;
    list-style:none;
    display:block;
}
body div.jumbomast-bar ul.bs-docs-social-buttons li {
    display:inline-block;
    margin:2px 8px;
    padding:0;
    font-size: 4em;
}
body div.jumbomast-bar ul.bs-docs-social-buttons .fb-like {
    width:108px;
    overflow:hidden;
}
body #content {
    padding-top: 20px;
}
body div.well {
    background:#E0E0E0;
    border: 1px solid #000000;
    box-shadow: inset 0px 0px 8px rgba(176,16,16,0.5);
}
body img.img-eboard {
    float:left;
    margin-right:1em;
    margin-bottom:1ex;
}