/* http://colorschemedesigner.com/  Hue: 215() */

body div.navbar.navbar-fixed-top li {
    text-align:center;
}
body div.jumbotron.masthead {
    background: #04819E;
    margin:0px;
}
body div.jumbomast-bar {
    border-bottom: 1px solid #888;
    background: #EEE;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
body div.jumbomast-bar ul.bs-docs-social-buttons {
    margin:0;
    padding:0;
    list-style:none;
    display:block;
}
body div.jumbomast-bar ul.bs-docs-social-buttons li {
    display:inline-block;
    margin:2px 8px;
    padding:0;
    font-size: 4em;
}
body div.jumbomast-bar ul.bs-docs-social-buttons .fb-like {
    width:108px;
    overflow:hidden;
}
body #content {
    padding-top: 20px;
}
body div.well {
    border: 1px solid #60B9CE;
}
body img.img-eboard {
    float:left;
    margin-right:1em;
    margin-bottom:1ex;
}