<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {% if page.title %} {{ page.title }} - {% endif %} {{site.title}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Honeywell, Glen Oakley">
    <link href="/assets/css/custom.css" type="text/css" rel="stylesheet" />
    <!-- Icons -->
    <link rel="shortcut icon" href="/assets/icon/favicon.ico">
  </head>
  <body onload="">
    {% include header.html %}
    {{ content }}
  </body>
</html>
